<p-toast></p-toast>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<h3 class="first">Cell Editing Demo</h3>
<p>
    A table with editable cells.  Use Tab to move from cell to cell.  At the end of a row, Tab will move you to the 
    beginning of the next row. If you are on the last column of the last row Tab or Enter will create a new row.
</p>
<form [formGroup]="mainForm">
<p-table (paste)="onPaste($event)" [value]="carForms.controls" formArrayName="carForms" (onEditInit)="onCellEdit($event)" (onEditComplete)="onCellEditComplete($event)"
    [paginator]="true" [(first)]="firstRow" [showCurrentPageReport]="true" currentPageReportTemplate="{first} to {last} of {totalRecords} items"
    [loading]="loading" [showLoader]="true" [totalRecords]="totalItems" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)"
    [resizableColumns]="true" [rowsPerPageOptions]="[10,20,50,100]" [rows]="10">
    <ng-template pTemplate="caption">
        List of Cars
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col style="width: 3%;">
            <col>
            <col style="width: 10%;">
            <col>
            <col>
            <col>
            <col style="width: 10%;">
            <col style="width: 10%;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>VIN</th>
            <th>Sold?</th>
            <th>Date Sold</th>
            <th>Brand</th>
            <th>Country</th>
            <th>Year</th>
            <th>Color</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-index="rowIndex">
        <tr [formGroupName]="index - firstRow" class="ui-fluid" style="height:34px">
            <td class="pi delete-cell" (click)="deleteRow(index - firstRow)">&#xe90b;
                <!--button pButton type="button" class="ui-button-secondary" icon="pi pi-times" iconPos="left" (click)="onDeleteRow(rowIndex)"></button-->
            </td>
            <td #vin pEditableColumn appEditableColumn [pEditableColumnField]="'vin'" [pEditableColumnRowIndex]="index" [ngClass]="{'text-danger': !rowData.get('vin').valid}">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" formControlName="vin">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.get('vin').value}}
                    </ng-template>
                </p-cellEditor>
                <div class="text-danger" *ngIf="rowData.get('vin')?.errors && (rowData.get('vin')?.dirty || rowData.get('vin')?.touched)">
                    <small *ngIf="rowData.get('vin').errors?.required">VIN is required</small>
                    <small *ngIf="rowData.get('vin').errors?.minlength">VIN must be at least {{rowData.get('vin').errors?.minlength.requiredLength}} characters</small>
                </div>
            </td>
            <td pEditableColumn appEditableColumn [pEditableColumnField]="'sold'" [pEditableColumnRowIndex]="index" style="text-align: center;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-checkbox binary="true" formControlName="sold"></p-checkbox>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <p-checkbox binary="true" formControlName="sold"></p-checkbox>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn appEditableColumn [pEditableColumnField]="'soldDate'" [pEditableColumnRowIndex]="index">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar formControlName="saleDate" showButtonBar="true" monthNavigator="true" 
                            yearNavigator="true" yearRange="1999:2030" dateFormat="mm/dd/yy"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.get('saleDate').value | date:'MM/dd/yyyy'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn appEditableColumn [pEditableColumnField]="'brand'" [pEditableColumnRowIndex]="index" [ngClass]="{'text-danger': !rowData.get('brand').valid}">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="brands" formControlName="brand" [autoDisplayFirst]="false" [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.get('brand').value}}
                    </ng-template>
                </p-cellEditor>
                <div class="text-danger" *ngIf="rowData.get('brand')?.errors && (rowData.get('brand')?.dirty || rowData.get('brand')?.touched)">
                    <small *ngIf="rowData.get('brand').errors?.required">Brand is required</small>
                </div>
            </td>
            <td pEditableColumn appEditableColumn [pEditableColumnField]="'country'" [pEditableColumnRowIndex]="index" [ngClass]="{'text-danger': !rowData.get('country').valid}">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-autoComplete formControlName="country" [dropdown]="true" [suggestions]="filteredCountries" [forceSelection]="true"
                            (completeMethod)="onFilterCountries($event)" field="name" dataKey="code" [size]="30" placeholder="Country" [minLength]="1"></p-autoComplete>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.get('country').value?.name}}
                    </ng-template>
                </p-cellEditor>
                <div class="text-danger" *ngIf="rowData.get('country')?.errors && (rowData.get('country')?.dirty || rowData.get('country')?.touched)">
                    <small *ngIf="rowData.get('country').errors?.required">Country is required</small>
                </div>
            </td>
            <td pEditableColumn appEditableColumn [pEditableColumnField]="'year'" [pEditableColumnRowIndex]="index" [ngClass]="{'text-danger': !rowData.get('year').valid}">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" formControlName="year" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.get('year').value}}
                    </ng-template>
                </p-cellEditor>
                <div class="text-danger" *ngIf="rowData.get('year')?.errors && (rowData.get('year')?.dirty || rowData.get('year')?.touched)">
                    <small *ngIf="rowData.get('year').errors?.required">Year is Required</small>
                    <small *ngIf="rowData.get('year').errors?.pattern">Numbers only, 4 digits required</small>
                </div>
            </td>
            <td pEditableColumn appEditableColumn [pEditableColumnField]="'color'" [pEditableColumnRowIndex]="index" [ngClass]="{'text-danger': !rowData.get('color').valid}">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" formControlName="color" (keydown)="onKeyDown($event)">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.get('color').value}}
                    </ng-template>
                </p-cellEditor>
                <div class="text-danger" *ngIf="rowData.get('color')?.errors && (rowData.get('color')?.dirty || rowData.get('color')?.touched)">
                    <small *ngIf="rowData.get('color').errors?.required">Color is required</small>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="height: 2.3em;">
          <button pButton type="button" class="ui-toolbar-group-left" (click)="addRow()" label="Add Row" [disabled]="!carForms.valid"></button>
          <button pButton type="button" class="ui-toolbar-group-right" (click)="save()" label="Save" [disabled]="!mainForm.valid"></button>
        </div>
    </ng-template>
</p-table>
</form>
<div class="output">
    <h3>Is Valid: {{mainForm.valid}}</h3>
    <h3>Last Saved:</h3>
    <!--ngx-json-viewer [json]="lastSaved"></ngx-json-viewer-->
    <h3>Form Data:</h3>
    <!--ngx-json-viewer [json]="mainForm.value"></ngx-json-viewer-->
</div>